<h1>ChefsCook</h1><br><br>

<form action="/signup" method="POST">
    <label>Chef Name:</label>
    <input type="text" name="name"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <label>Restaurant:</label>
    <input type="text" name="restaurant"><br><br>
    <input type="submit" value="Sign Up">
</form>