<h1>ChefsCook</h1>
<h2>Log In</h2>

<form action="/login" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Log In">
</form>