<h1>ChefsCook</h1>
<h2>Create New Post</h2>
<h3><a href="/posts"> All Posts</a> <a href="/posts/new">New Post</a> <a href="/recipes">All Recipes</a> <a href="/recipes/new">New Recipe</a> </a><a href="/logout">Log Out</a></h3><br><br>


<form action="/posts" method="POST">
    <label>Title: </label>
    <input type="text" name="title"><br><br>
    <label>Content: </label>
    <input type="textarea" name="content"><br><br>
    <input type="submit" value="Post">
</form>