<h1>ChefsCook</h1>
<h2>Welcome, <%= current_user.name %></h2>
<h3>All Posts <a href="/posts/new">New Post</a> <a href="/logout">Log Out</a></h3>

<ul>
    <% @posts.each do |post| %>
        <li>
            <a href="/posts/<%= post.id %>"><%= post.title %></a><br><br>
                <li><%= post.content %></li>
        </li><br>
    <% end %>
</ul>