<h1>ChefsCook</h1>
<h2><%= @post.title %></h2>
<h3><%= @post.content %></h3>

<form action="/posts/<%= @post.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Post">
</form>

<a href="/posts/<%= @post.id %>/edit">Edit Post</a><br>
<a href="/posts">All Posts</a>