<div class="container">
  <h1>ChefsCook</h1>
  <div class="col-md-8 col-md-offset-2">
    <h3>Where Chefs Connect, Share and Get things DONE!</h3>

    <div class="content">
      <p>A place where Chefs from all over come together to share their stories, their ideas, and thier passion for this industry. To continue <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>.</p>
    </div>

  </div>
</div>
